<!DOCTYPE html>

<head>
    <!-- Link the stylesheet and js file to the html -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="../static/timescript.js?q=1280549780"></script>
    <link rel="stylesheet" href="../static/stylesheet.css?q=1280549780"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700" rel="stylesheet">
</head>

<body onload="startTime()" id="gradient">

<h2 id="txt"></h2>        <!--This is where the current time will be displayed -->

<!-- The input location -->
<div>
    <form action="/" method="post">
        <select name="pills">
          <option value="pill1">Pill 1</option>
          <option value="pill2">Pill 2</option>
          <option value="pill3">Pill 3</option>
        </select>
        <select name="Select # of Pills to be dispensed">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        Name: <input type="text" name="name">
        Hour: <input type="text" name="hour">
        Minute: <input type="text" name="minute">

        <input type="submit" name="form" value="Add Time"/>
    </form>

    <p>Enter the hour in 24 hour time format and the minutes in their respective fields</p>

    <table cellpadding="0" cellspacing="0" border="0" id="pill1">
        <tbody>
        <p>Pill 1</p>
        <!-- Don't touch this stuff! -->
        {% for x in range(0, Pill1_Hour_List|length) %}
        <tr>
            <td> {{ Pill1_Name }} </td>
            <td> <p> # of pills </p> {{ Pill1_Num }} </td>
            <td> {{ x }}</td>
            <td class="pill1Time"> {{ Pill1_Hour_List[x] }} : {{ Pill1_Minute_List[x] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" id="pill2">
        <tbody>
        <p>Pill 2</p>
        <!-- Don't touch this stuff! -->
        {% for x in range(0, Pill2_Hour_List|length) %}
        <tr>
            <td> {{ Pill2_Name }} </td>
            <td> <p> # of pills </p> {{ Pill2_Num }} </td>
            <td> {{ x }}</td>
            <td class="pill2Time"> {{ Pill2_Hour_List[x] }} : {{ Pill2_Minute_List[x] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" id="pill3">
        <tbody>
        <p>Pill 3</p>
        <!-- Don't touch this stuff! -->
        {% for x in range(0, Pill3_Hour_List|length) %}
        <tr>
            <td> {{ Pill3_Name }} </td>
            <td> <p> # of pills </p> {{ Pill3_Num }} </td>
            <td> {{ x }}</td>
            <td class="pill3Time"> {{ Pill3_Hour_List[x] }} : {{ Pill3_Minute_List[x] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
