<!DOCTYPE html>
<head>
    <!-- Link the stylesheet and js file to the html -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="../static/timescript.js?q=1280549780"></script>
    <link rel="stylesheet" href="../static/stylesheet.css?q=1280549780"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700" rel="stylesheet">
</head>

<body onload="startTime()" id="gradient">

<h2 id="txt"></h2>        <!-- This is where the current time will be displayed -->

<!-- The input location -->
<div>
    <form action="/" method="post">
        <select name="pills">
            {% if Pill1_Name != '' %}
            <option value="pill1">{{ Pill1_Name }}</option>
            {% else %}
            <option value="pill1">Add New</option>
            {% endif %}

            {% if Pill2_Name != '' %}
            <option value="pill2">{{ Pill2_Name }}</option>
            {% else %}
            <option value="pill2">Add New</option>
            {% endif %}

            {% if Pill3_Name != '' %}
            <option value="pill3">{{ Pill3_Name }}</option>
            {% else %}
            <option value="pill3">Add New</option>
            {% endif %}
        </select>
        <select name="numberPills">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        {% if Pill1_Name == '' or Pill2_Name == '' or Pill3_Name == '' %}
        Name: <input type="text" name="name">
        {% else %}
        {% name = 'hi' %}
        {% endif %}
        Hour: <input type="text" name="hour">
        Minute: <input type="text" name="minute">

        <input type="submit" name="form" value="Add Time"/>
    </form>

    <p>Enter the hour in 24 hour time format and the minutes in their respective fields</p>

    <p>{{ Pill1_Name }}</p>
    <table cellpadding="0" cellspacing="0" border="0" id="pill1">
        <tbody>
        <!-- Don't touch this stuff! -->
        {% for x in range(0, Pill1_Hour_List|length) %}
        <tr>
            <td>Number of Pills: {{ Pill1_Num }}</td>
            <td class="pill1Time"> {{ Pill1_Hour_List[x] }} : {{ Pill1_Minute_List[x] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>{{ Pill2_Name }}</p>
    <table cellpadding="0" cellspacing="0" border="0" id="pill2">
        <tbody>
        <!-- Don't touch this stuff! -->
        {% for x in range(0, Pill2_Hour_List|length) %}
        <tr>
            <td>Number of Pills: {{ Pill2_Num }}</td>
            <td class="pill2Time"> {{ Pill2_Hour_List[x] }} : {{ Pill2_Minute_List[x] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>{{ Pill3_Name }}</p>
    <table cellpadding="0" cellspacing="0" border="0" id="pill3">
        <tbody>
        <!-- Don't touch this stuff! -->
        {% for x in range(0, Pill3_Hour_List|length) %}
        <tr>
            <td>Number of Pills: {{ Pill3_Num }}</td>
            <td class="pill3Time"> {{ Pill3_Hour_List[x] }} : {{ Pill3_Minute_List[x] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
